body {
    background: linear-gradient(to right, #3CB371, #2E8B57);
    text-align: center;
    color: white;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial Black", sans-serif;
}
:root{
    --color:white;
    --bcolor:rgba(0, 0, 0, 0.8);
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 20; 
    background-color: var(--bcolor);
}

nav{
    background-color: var(--bcolor);
    width: 100%;
    position: sticky;
    top:0;
    z-index: 15;
    padding: 15px 0;
}
nav ul{
    display: flex;
    justify-content: center;
    gap:1.1rem;
    flex-wrap: wrap;
}
nav ul li{
    list-style: none;
    display: inline;
    opacity: 0;  
    transform: translateX(-100px); 
    animation: animation2 0.3s ease-out forwards;
}
nav ul li a{
    text-decoration: none;
    color: var(--color);
    font-size: 1rem;
    padding: 10px 15px;
    font-weight: bolder;
}

nav ul li a:hover {
    border-bottom:2px solid white;
    animation: myanimation 0.2s ease-out forwards;
}

nav ul li:nth-child(1) { animation-delay: 0.2s; }
nav ul li:nth-child(2) { animation-delay: 0.4s; }
nav ul li:nth-child(3) { animation-delay: 0.6s; }
nav ul li:nth-child(4) { animation-delay: 0.8s; }
nav ul li:nth-child(5) { animation-delay: 1s; }
nav ul li:nth-child(6) { animation-delay: 1.2s; }

@keyframes animation2 {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes myanimation {
    0%{

    }
    25%{
        font-size: medium;
       
    }
    50%{
        font-size: large;
    }
    100%{
        font-size: larger;
    }
}
.container {
    max-width: 900px;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}
h1 {
    color: #f1c40f;
}
.search-bar {
    margin-bottom: 20px;
}
.search-bar input {
    padding: 10px;
    width: 80%;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}
.center-card {
    background: rgba(255, 255, 255, 0.3);
    padding: 15px;
    margin: 15px 0;
    border-radius: 10px;
    transition: 0.3s;
    font-size: 18px;
    font-weight: bold;
}
.center-card:hover {
    background: rgba(255, 255, 255, 0.5);
    transform: scale(1.05);
}
@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 15px;
    }
    .search-bar input {
        width: 100%;
    }
    .center-card {
        font-size: 16px;
        padding: 10px;
    }

    nav ul li {
        margin: 10px 0;
    }
}